In [ ]:
import pandas as pd

In [ ]:
df = {
    'data': ["20/10/2023", "15/09/2023"],
    'valor de crédito': [5000, 10000],
    'valor de débito': [200, 900],
    'relação' : ['', '']
}

In [ ]:
newDf = pd.DataFrame(df)

In [ ]:
 print(newDf);

         data  valor de crédito  valor de débito relação
0  20/10/2023              5000              200
1  15/09/2023             10000              900

In [ ]:
deb = newDf['valor de débito']
print(deb)

0    200
1    900
Name: valor de débito, dtype: int64

In [ ]:
print(sum(deb))

1100